<br>
<h1 style="text-align: center">Danh sách tour</h1>
<br>
<table class="table table-striped container" >
  <thead>
  <tr>
    <td>STT</td>
    <td>Tên</td>
    <td>Giá</td>
    <td>Mô tả</td>
    <td colspan="2" style="text-align: center">Hành động</td>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let tour of tours; index as i">
    <td>{{i + 1}}</td>
    <td>{{tour.title}}</td>
    <td>{{tour.price}}</td>
    <td>{{tour.description}}</td>
    <td style="text-align: center"><button type="button" class="btn btn-outline-warning" [routerLink]="['/tour/edit',tour.id]" style="width: 40%">Edit</button></td>
    <td style="text-align: center"><button type="button" class="btn  btn-outline-danger" [routerLink]="['/tour/delete',tour.id]" style="width: 30%">Delete</button></td>
  </tr>
  </tbody>
</table>

